/*transform 3D animation*/
#transform-3d {
    margin: 0 0 0 10% ;
    width: 20%;
}
#transform-3d ul{
   display: inline-block;
   list-style: none;
}
.bike{
    margin: 0 0 -100% 0%; 
}
.back-wheel img{
    width: 300px;
    margin: 60.3% 0 .5% 4.7%; 
    animation: bike  .7s infinite linear;
}
.front-wheel img{
    width: 300px;
    margin: -50% 0 4.7% 61.2%; 
    animation: bike  .7s infinite linear;
}
.part-foot img{
    width: 115px;
    margin: -50% 0 6.1% 37%; 
    animation: bike  2.2s infinite linear;
}
@keyframes bike{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width: 500px) {
  #transform-3d {
   margin: 0 0 0 -20%;
    width: 100%;
}
}



